<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>真贋判定システム(登録)</title>
</head>

<body>
<header>

</header>
<main>
    <h1>インクジェット印刷物の真贋判定システム(登録)</h1>
    <p>以下にファイルをアップロードしてください</p>
    <p>※使用できる形式：<span style="color:red">jpg,.jpegのみです。</span></p>
    <form action="/form" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/png, image/jpeg">
        <button type="submit">登録開始</button>
    </form>
    <p>登録状況：{{time}}</p>
    {% if ID==0 %}
    <p>登録No.：</p>
    {% else %}
    <p>登録No.：{{ID}}.jpg</p>
    {% endif %}
    <img src="INPUT.jpg" alt="結果の出力画像", height="300" >
    <img src="procCyan.JPG" alt="シアン画像", height="300" >
    <img src="procMagenda.JPG" alt="マゼンダ画像", height="300" >
    <img src="procYellow.JPG" alt="イエロー画像", height="300" >
    <p>　</p>
    <a href="{{ url_for('index') }}">真贋判定をしたい方はこちらから</a>
</main>
<footer>
    <p>　</p>
    <a href="https://www.rs.tus.ac.jp/iwamuralab/">岩村研究室</a>
</footer>
</body>

</html>